[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "*"
numpy = "*"
pandas = "*"
"gprof2dot" = "*"
flask = "*"
requests = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.9"
